<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Foi criado a order com o id: ' + ${id} + '!'" />
<p th:text="'Entrada: ' + ${entrada} + '!'" />
<p th:text="'Prato principal: ' + ${principal} + '!'" />
<p th:text="'bebida: ' + ${bebida} + '!'" />
<p th:text="'Sobremesa: ' + ${sobremesa} + '!'" />


<li style="line-height: 200px"><a href="/">Home Page</a></li>
</body>
</html>