<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Foi criado o produto com o nome ' + ${name} + '!'" />
<p th:text="'Preco: ' + ${price} + '!'" />
<p th:text="'Descricao: ' + ${descricao} + '!'" />
<p th:text="'Type: ' + ${type} + '!'" />

<li style="line-height: 200px"><a href="/">Home Page</a></li>
</body>
</html>